# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [13]:
a=8
b=12
c=a+b
print(f"add={c}")


print(8+12)

add=20
20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [12]:
# Answer here
print(20-7)


a=20
b=7
c=a-b
print(f"subtract={c}")

13
subtract=13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [10]:
print(6*9)

a=6
b=9
c=a*b
print(f"multiple={c}")

54
multiple=54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [15]:
print(f"division={45/9}")
a=45
b=9
c=a/b
print(f"division={c}")

division=5.0
division=5.0

In [ ]:
# Answer here

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [17]:
print(45//9)
a=45
b=9
c=a//b
print(f"floor division={c}")

5
floor division=5

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [19]:

a=29
b=5
c=a%b
print(f"modulus={c}")
print(a%b)
print(29%5)

modulus=4
4
4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [20]:
# Answer here
num=3
power=4
print(num**power)
print(3**4)

81
81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [21]:
# Answer here
a=6

print(+a)
print(-a)

6
-6

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [23]:
# Answer here
c=5 + 3 * 2
d=(5 + 3) * 2
print(c)
print(d)
print(5+3*2)
print((5+3)*2)

11
16
11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [25]:
a=15
b=4
print(f"add={a+b}")
print(f"sub={a-b}")
print(f"multiple={a*b}")
print(f"division={a/b}")
print(f"floor division={a//b}")
print(f"modulus={a%b}")
print(f"power={a**b}")

add=19
sub=11
multiple=60
division=3.75
floor division=3
modulus=3
power=50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [31]:
# Answer here
n=10
n+=5
print(n)
n*=2
print(n)
n-=4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [33]:
x=3
y=7
x,y=y,x
print(f"x={x}")
print(f"y={y}")

x=7
y=3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [36]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=int(input("enter the first number"))
b=int(input("enter the second number"))
sum=a+b
print(f"sum of the numbers:{sum}")
a=float(input("enter the first number"))
b=float(input("enter the second number"))
sum=a+b
print(f"sum of float value:{sum}")

enter the first number15
enter the second number14
sum of the numbers:29
enter the first number15.15
enter the second number16.42
sum of float value:31.57

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [37]:

a=float(input("enter the first number"))
b=float(input("enter the second number"))
c=float(input("enter the third number"))
avg=(a+b+c)/3
print(f"avg of numbers:{avg}")

enter the first number10.5
enter the second number25.6
enter the third number10.89
avg of numbers:15.663333333333334

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [39]:
# Answer here

r=int(input("enter the cicle redius"))
area=3.14159*r**2
circumference=2*3.14159*r
print(f"area of cicle:{area}")
print(f"circumference of cicle:{circumference}")

enter the cicle redius7
area of cicle:153.93791
circumference of cicle:43.98226

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [50]:
total_seconds=int(input("enter the total seconds"))
hours=total_seconds//3600
minutes=(total_seconds%3600)//60
seconds=(minutes%60)/60
print(f"hours:{hours} and minutes:{minutes} and second:{seconds}")

enter the total seconds5000
hours:1 and minutes:23 and second:0.38333333333333336

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [41]:
p=int(input("enter the principal amount"))
r=int(input("enter the rate"))
t=int(input("enter the time"))
si=(p*r*t)/100
print(f"simple interest:{si}")

p=1000
r=10
t=4
si=(p*r*t)/100
print(si)

enter the principal amount1000
enter the rate10
enter the time4
simple interest:400.0
400.0